QPushButton{
	margin: 0;
	padding: 0;
	background-color: rgb(2,172,255);
}

QPushButton:hover{
	background-color: rgb(2,225,255);
}

QMenuBar {
	border-top: 0.5px solid black;
}

QMenuBar::item:selected, QMenu::item:selected{
	background-color: rgb(2,225,255);
}

