QPushButton{
	margin: 0;
	padding: 0;
	background-color: rgb(2,172,255);
}

QPushButton:hover{
	background-color: rgb(2,225,255);
}

QPushButton#info{
	border: 0.5px solid black;
	border-radius: 15px;
}

QPushButton#modifica{
	margin: 0;
	padding: 0;
	background-color: rgb(2,172,255);
}

QLabel#grassetto{
	font-weight: bold
}

QMenuBar {
	border-top: 0.5px solid black;
}

QMenuBar::item:selected, QMenu::item:selected{
	background-color: rgb(2,225,255);
}

